<!DOCTYPE html>
<html lang="en">
<head>

    <title>Proyecto | @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-nav"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Banco", "Index", "Banco", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Sucursal", "Index", "Sucursal", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Orden de Pago", "Index", "OrdenPago", null, new { @class = "active" })</li>
                </ul>
                <form class="navbar-form navbar-right" role="form">

                    <div class="form-group" style="font-size: smaller; color: White">
                    </div>
                    <div class="form-group" style="font-size: smaller; color: White"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <p>
            </p>
        </footer>
    </div>
    <!-- Bootstrap core JS -->
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap/js/jquery.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
