@model List<BeExamen.sucursal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron row">
    <br />
    <div class="col-md-8">
        <h3>Sucursales</h3>
    </div>
    <div class="col-mod-4" style="text-align: right">
        @Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Código Sucursal</th>
        <th>Descripción</th>
        <th>Banco</th>
        <th>Dirección</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.banco.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id })
            </td>
            <td>
                <a onclick="eliminar(@Html.DisplayFor(modelItem => item.id));" href="#">Eliminar</a>
            </td>
        </tr>
    }
</table>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Desea eliminar el registro seleccionado?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-green" id="aceptar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
<script type="text/javascript">
    $(document).on('ready', function () {
        var idproducto = 0;

    });
    function eliminar(id) {
        $('#myModal').modal();
        idSucursal = id;
    };
    $('#aceptar').on('click', function () {

        $.ajax({
            url: '@Url.Content("~/Sucursal/Delete")',
            async: false,
            type: "POST",
            dataType: "html",
            data: { "id": idSucursal },
            success: function (html) {
                window.location.href = '@Url.Action("Index", "Sucursal", null)';
            }

        });
    });
</script>